/* Global page styles
------------------------------------------ */

body {
  font-family: "Noto Sans JP";
  color: #000;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* Service styles
------------------------------------------ */

.service {
  position: relative;
}

.serviceband {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; /* はみ出し防止 */
  background-color: #050829;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.serviceband__inner {
  background-color: #050829;
  width: 57vw;
  height: 470px;
  transform: translateX(100%);
  animation: slideIn 0.6s ease-out forwards;
  /* margin-bottom: -470px; 帯の高さ分だけ逆マージンで重ねて流す */
  /* animation: none; */
  /* right:0; */
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.slideband__line {
  position: absolute;
  top: 100px;
  right: 0; /* ← 左寄せから右寄せに変更 */
  display: flex;
  justify-content: flex-end; /* ← 子要素を右から順に並べる */
  height: 1px;
  z-index: 2;
}

.slideband__line--pink {
  width: 43vw;
  background-color: #E4007F;
  height: 1px;
}

.slideband__line--gray {
  width: calc(100vw - 43vw);
  background-color: #707070;
  height: 1px;
}

.service__inner {
  position: relative;
  max-width: 1080px;
  width:24vw;
  margin: 0 auto;
  z-index: 10;
  padding: 3.3vw 29.8vw 0vw 0vw;
}

.serviceband__content {
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  z-index: 2;
  color: #ffffff;
  width: 45vw;
  font-family: 'Noto Sans JP', sans-serif;
}

.serviceband__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.serviceband__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.serviceband__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9;
}